*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.small_container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between !important;
}
.row-2{
    margin: 100px auto 50px;
    justify-content: space-between !important;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
h4{
    color: #555;
    font-weight: normal;
}

/* Feature Products & latest products*/
 .col-4{
     /* background: rgb(245, 245, 245); */
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); */
}

.col-4 img{
    width: 100%;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding : 8px 30px;
    margin: 30px 0 ;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #555;
}
.page-btn span:hover{
    background-color: #ff523b;
    color: #fff;
}
.active {
    background-color: #ff523b;
    color: #fff;
}




/* Popup modal css */

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 85%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 40px;
    line-height: 50px;
    margin: 25px 0;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.product_modal {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
     /* Enable scroll if needed */
    padding-top: 60px;
    /* overflow: auto; */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}



/* @media Query for responsiveness */
@media only screen and (max-width: 800px){

    .modal{
        display: none;
    }
    .card-container{
        transform: translate(-75%,-70%);
    }
    .lower-container .btn:hover{
        background: transparent;
        color: #ffb4b4;
        border: 2px solid #ffb4b4;
    }
    .product_modal{
        overflow: auto;
    }
}

/* @media Query for responsiveness less than 600screen size */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .modal{
        display: none;
    }
    .card-container{
        transform: translate(-75%,-70%);
    }
    .lower-container .btn:hover{
        background: transparent;
        color: #ffb4b4;
        border: 2px solid #ffb4b4;
    }
    .product_modal{
        overflow: auto;
    }
}
