
.row {
    display: flex;
    justify-content: space-between;
    padding:50px;
    width: 100%;
}
.row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -16px;
}
.col-2{
    flex-basis: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    /* background: lightgrey; */
    border-radius: 10px;
}
.col-3
{
    flex-basis: 35%;
    padding: 15px;
    /* background: lightgrey; */
    border-radius: 10px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
label{
    margin-bottom: 10px;
    display: block;
}
.input-row{
    display: flex;
    flex-wrap: wrap;
}
.input-container{
    padding: 20px;
    flex: 50%;
}
h3{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon-container {
    margin-bottom: 20px;
    padding: 3px 0;
  }

  /* Inline CSS

  .products{
    background: #fff; 
    display: flex; 
    justify-content: space-between; 
    border-radius: 10px; 
    margin-top: 10px; 
    padding: 10px; 
    align-items: center;
  }
  .product_name_price{
    display: flex; 
    justify-content: space-between; 
    flex-basis: 80%;
  }
  .price{
    display: flex; 
    justify-content: space-between; 
    margin-top: 10px; 
    padding: 10px;
  }
strong{
    text-transform: capitalize;
} */
.place_order{
    background: #ff523b;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
}
.place_order:hover{
    background: #d6d6d6;
    color: #ff523b;
}






/* @media Query for responsiveness */
@media only screen and (max-width: 800px){
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .modal{
        display: none;
    }
    .card-container{
        transform: translate(-75%,-70%);
    }
    .lower-container .btn:hover{
        background: transparent;
        color: #ffb4b4;
        border: 2px solid #ffb4b4;
    }
    .product_modal{
        overflow: auto;
    }
}

/* @media Query for responsiveness less than 600screen size */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .modal{
        display: none;
    }
    .card-container{
        transform: translate(-75%,-70%);
    }
    .lower-container .btn:hover{
        background: transparent;
        color: #ffb4b4;
        border: 2px solid #ffb4b4;
    }
    .product_modal{
        overflow: auto;
    }
}
